
h1{
    font-family: 'Mulish', sans-serif;
}
h2.post-title{
    color: rgb(0, 133, 0);
    font-family: 'Mulish', sans-serif;
    font-size: 48px;
}
h3.post-subtitle{
    color: rgb(0, 133, 0);
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
}

.post-content-preview{
    color: black;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
}
.post-preview>.post-meta{
    color: grey;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}
.post-preview>a>.post-title{
    font-size: 44px;
}
.post-preview>a>.post-subtitle{
    font-size: 30px;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
}
.intro-header .post-heading .meta{
    font-family: 'Mulish', sans-serif;
}
.intro-header .post-heading .subheading{
    font-family: 'Mulish', sans-serif;
}
.navbar-custom{
    font-family: 'Mulish', sans-serif;
}

/*
.post-heading{
    color: rgb(0, 133, 0);
}



h1{
    color: black;
}
.subheading{
    color: rgb(47, 0, 133);
}

*/

 